* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    min-width: 100px;
    max-width: 110px;
    min-height: 10px;
    margin: 20px;
}

.quicklinks {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.link {
    margin-right: 15px;
}

/* buttons */
.swag {
    width: 90px;
    border-radius: 0;
    background-color: #ffffff;
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
    border-left: 5px solid #000000;
    border-right: 0px solid #000000;
    height: 70px;
    margin: 0;
}

.findstudent{
    width: 130px;
    border: none;
    background-color: #000000;
    height: 70px;
    margin: 0;
    color: #ffffff;
}
 
.background {
    width: 100%;
}

.dodads {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 80px;
}

.logo-desktop {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    top:0;
    height: 70%;
    margin-left: 100px;
}

.scrolling {
    background-color: #fff45a;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow {
    width: 30px;
}


@media media-type and (min-width: 600px) {
}